
@{
    ViewBag.Title = "Login";
}

<h2>登入</h2>

<form action="action.js">
    <h4>身分</h4>
    <input type="radio" name="user" value="1" /> 一般
    <input type="radio" name="user" value="2" /> 教師
    <input type="radio" name="user" value="3" /> 學生
    <h4>帳號</h4>
    <input type="text" placeholder="請輸入帳號" />
    <h4>密碼</h4>
    <input type="password" placeholder="請輸入密碼" />
    <input type="submit" value="登入" />
</form>

