<script src="~/Scripts/Chart.min.js"></script>
@model FirstTrade_.Models.Services.StockVM
@{
    ViewBag.Title = "MemberDetailTotalArea";
}

<div class="container">
    <div class="mb-3">
        <div style="font-size:20px">
            @Html.ActionLink("返回明細", "MemberDetails")
        </div>

        <h3>@ViewBag.account <span class="h4">的損益統計</span></h3>
    </div>


    @{
        var jsonTime = Json.Encode(ViewBag.Time);//好像都要轉成Json才能在Chart裡面用
        var jsonErrDev = Json.Encode(Model);
    }

    <div class="d-flex flex-column flex-lg-row justify-content-evenly align-items-md-center">
        <canvas id="LineChart" style="width: 100%; max-width: 700px; height: 350px"></canvas>

        <div style="width: 30%">
            <form method="post" action="">
                <div class="mb-3">
                    <label>編號</label>
                    <input class="p-1 border rounded" type="number" name="Cid" value=@ViewBag.id readonly disabled/>
                </div>
                <div class="mb-3">
                    <label>資金</label>
                    <input class="p-1 border rounded" type="number" name="Cash" value=@ViewBag.cash readonly disabled/>
                </div>
                <div class="mb-3">
                    <label>結清次數</label>
                    <input class="p-1 border rounded" type="number" name="Position" value=@Model.count readonly disabled/>
                </div>
                <div class="mb-3">
                    <label>累積損益</label>
                    <input class="p-1 border rounded" type="number" name="Profit" value=@ViewBag.addupprofit readonly disabled/>
                </div>
            </form>

        </div>
    </div>

</div>

<script>
    var jsErrDev = @Html.Raw(jsonErrDev);
    var ctx = document.getElementById("LineChart");
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:@Html.Raw(jsonTime),
            datasets: [{
                label: "資金",
                data: jsErrDev.price,
                lineTension: 0,
                borderColor: '#ffe359',
                backgroundColor: 'rgba(255, 227, 89, 0.4)',
                pointBorderColor: '#3F3F3F',
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                text: '累積損益變化'
                },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '結清次數',
                        fontSize: 15
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '元',
                        fontSize: 15
                    },
                    ticks: {
                        stepSize: Math.round((jsErrDev.UpL - jsErrDev.DownL)*3/10),
                        //reverse: true,
                    }
                }]
            }
        }
    }
    );
</script>





