@using FirstTrade_.Models.Services
<script src="~/Scripts/Chart.min.js"></script>

@model IEnumerable<FirstTrade_.Models.Services.StockVM2>

@{
    ViewBag.Title = "Test1";
    var jsonId = Json.Encode(ViewBag.Id);
    var jsonTime3 = Json.Encode(ViewBag.Time3);//好像都要轉成Json才能在Chart裡面用
    var jsonErrDev = Json.Encode(Model);
}

<h2>Test1</h2>

<style>

    body {
        background-color: #f1f1f1;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .site-main {
        background-color: #fff;
    }

    .site-main-inner::after {
        content: "";
        display: block; /**必要**/
        clear: both;
    }

    .content {
        height: 400px;
        width: 70%;
        background-color: #ddd;
        float: left;
    }

    .sidebar {
        height: 400px;
        width: 30%;
        background-color: #ccc;
        float: right;
    }
</style>

<div class="container site-main">

    <div class="site-main-inner">

        <div class="chart-container" style="position: relative; height:0vh; width:65vw">
            <!--外面的height調距離(好像條外層空間可正可負)，width調寬度-->
            <canvas id="LineChart" style="height:400px; width:100%"></canvas><!--裡面的height調高度，width調??-->
        </div>

        <div class="sidebar">
            <form method="post" action="">
                <table>
                    <tr>
                        <td>編號:</td>
                        <td><input type="number" name="Cid" value=@ViewBag.Cid readonly /></td>
                    </tr>
                    <tr>
                        <td>資金:</td>
                        <td><input type="number" name="Cash" value=@ViewBag.Cash readonly /></td>
                    </tr>
                    <tr>
                        <td>部位:</td>
                        <td><input type="number" name="Position" value=@ViewBag.Position readonly /></td>
                    </tr>
                    <tr>
                        <td>損益:</td>
                        <td><input type="number" name="Profit" value=@ViewBag.Profit readonly /></td>
                    </tr>
                    <tr>
                        <td>狀態:</td>
                        <td><input type="number" name="Status" value=@ViewBag.Status /></td>
                    </tr>
                    <tr>
                        <td>買入價:</td>
                        <td><input type="number" name="BuyCost" value=@ViewBag.BuyCost readonly /></td>
                    </tr>
                    <tr>
                        <td>幾天後:</td>
                        <td><input type="text" name="Name"></td>
                    </tr>
                    <tr>
                        <td>目前天數:</td>
                        <td><input type="text" name="Total" value="@ViewBag.Total" readonly /></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="StartDate" value="@ViewBag.StartDate" hidden /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="Search" /></td>
                    </tr>
                </table>
            </form>

        </div>

    </div>

</div>

<form method="post" action="Test1">
    <table>
        <tr>
            <td>選擇日期:</td>
            <td><input type="date" name="Date123" value="" /></td><!--叫Date0時還不給binding...-->>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Search" /></td>
        </tr>
    </table>
</form>




<script>
    var jsErrDev = @Html.Raw(jsonErrDev);
    var ctx = document.getElementById("LineChart");
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:@Html.Raw(jsonTime3),
            datasets: [{
                label: jsErrDev[0].dev,
                data: jsErrDev[0].price,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                fontSize: 20,
                text: 'Min and Max Settings'
                },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '日期',
                        fontSize: 15
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '元/每股',
                        fontSize: 15
                    },
                    ticks: {
                        max: Math.round(jsErrDev[0].UpL*11/10),
                        min: Math.round(jsErrDev[0].DownL * 9 / 10),
                        stepSize: Math.round((jsErrDev[0].UpL - jsErrDev[0].DownL)*3/10),
                        //reverse: true,
                    }




                }]
            }
        }
    }
    );
</script>



