@using FirstTrade_.Models.Services
<script src="~/Scripts/Chart.min.js"></script>

@model FirstTrade_.Models.Services.StockVM

@{
    ViewBag.Title = "Test1";
    var jsonId = Json.Encode(ViewBag.Id);
    var jsonTime = Json.Encode(ViewBag.Time);//好像都要轉成Json才能在Chart裡面用
    var jsonErrDev = Json.Encode(Model);
}

<div class="d-flex flex-lg-row justify-content-lg-evenly flex-column justify-content-center align-items-center mt-5">
    <div>
        <!--外面的height調距離(好像條外層空間可正可負)，width調寬度-->
        <canvas id="LineChart" height="400"></canvas><!--裡面的height調高度，width調??-->
        <form method="post" action="Test1" class="m-5 d-flex flex-row flex-wrap align-items-center">
            <div class="me-3">
                <label>選擇股票:</label>
                <input type="text" name="Stock123" value="" />
            </div>
            <div class="me-3">
                <label>選擇日期:</label>
                <input type="date" name="Date123" value="" /><!--叫Date0時還不給binding...-->
            </div>
            <button type="submit" class="ft-btn">提交</button>
        </form>
    </div>

    <div>
        <form method="post" action="">
            <div class="mb-3">
                <label>編號:</label>
                <input type="number" name="Cid" value=@ViewBag.Cid readonly />
            </div>
            <div class="mb-3">
                <label>資金:</label>
                <input type="number" name="Cash" value=@ViewBag.Cash readonly />
            </div>
            <div class="mb-3">
                <label>部位:</label>
                <input type="number" name="Position" value=@ViewBag.Position readonly />
            </div>
            <div class="mb-3">
                <label>損益:</label>
                <input type="number" name="Profit" value=@ViewBag.Profit readonly />
            </div>
            <div class="mb-3">
                <label>狀態:</label>
                <input type="number" name="Status" value=@ViewBag.Status />
            </div>
            <div class="mb-3">
                <label>買入價:</label>
                <input type="number" name="BuyCost" value=@ViewBag.BuyCost readonly />
            </div>
            <div class="mb-3">
                <label>幾天後:</label>
                <input type="text" name="Name">
            </div>
            <div class="mb-3">
                <label>目前天數:</label>
                <input type="text" name="Total" value="@ViewBag.Total" readonly />
            </div>
            <div class="mb-3">
                <input type="text" name="StartDate" value="@ViewBag.StartDate" hidden />
            </div>
            <button type="submit" class="ft-btn">提交</button>
        </form>
    </div>

</div>



<style>
    .site-main {
        background-color: #fff;
    }

    .site-main-inner::after {
        content: "";
        display: block; /**必要**/
        clear: both;
    }

    .content {
        height: 400px;
        width: 70%;
        background-color: #ddd;
        float: left;
    }

    .sidebar {
        height: 400px;
        width: 30%;
        background-color: #ccc;
        float: right;
    }

    #LineChart {
        width: 70vw;
    }

    @@media screen and (max-width: 922px) {
        #LineChart {
            width: 60vw;
        }
    }

    @@media screen and (max-width: 768px) {
        #LineChart {
            width: 80vw;
        }
    }
</style>


<script>
    var jsErrDev = @Html.Raw(jsonErrDev);
    var ctx = document.getElementById("LineChart");
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels:@Html.Raw(jsonTime),
            datasets: [{
                label: jsErrDev.stockname,
                data: jsErrDev.price,
                borderColor: '#ffe359',
                backgroundColor: 'rgba(255, 227, 89, 0.4)',
                pointBorderColor: '#3F3F3F',
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            title: {
                display: true,
                fontSize: 20,
                text: 'Min and Max Settings'
                },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '日期',
                        fontSize: 15
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: '元/每股',
                        fontSize: 15
                    },
                    ticks: {
                        max: Math.round(jsErrDev.UpL*11/10),
                        min: Math.round(jsErrDev.DownL * 9 / 10),
                        stepSize: Math.round((jsErrDev.UpL - jsErrDev.DownL)*3/10),
                        //reverse: true,
                    }
                }]
            }
        }
    }
    );
</script>



